@tailwind base;
@tailwind components;
@tailwind utilities;

.date-picker-container {
  background-color: #dc3545;
  margin: 2%;
  color: #686de0;
}

.gold-button {
  background-image: linear-gradient(120deg, #ffd700 0%, #f9a825 100%);
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #fbc02d, #b69307);
}
/* components/RotatingBall.css */

#number-generator-wrapper {
  position: relative;
  width: 358px;
  height: 500px;
}

.ball-holder {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

.sphere {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  /* background: radial-gradient(circle at 30% 30%, #ffd700, #774400); */
  position: absolute;
  left: 34px;
  top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-on-ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 50% 30%, #ff1054a5, #f70b1bc5);
  /* opacity: 0.8; */
  transform: translateZ(20px); /* Keep the number inside the sphere's surface */
}

.shadow {
  background: radial-gradient(#000f, #fff0 72%);
  border-radius: 50%;
  /* animation: move-shadow 3s ease-out 0s infinite; */
}

/* components/PayoutTable.css */

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.payout-table {
  transition: opacity 0.5s ease-in-out;
}

code {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}
.pin-field-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  margin: 2rem 0;
}
.pin-field {
  border: 1px solid #d3d3d3;
  border-right: none;
  font-size: 2rem;
  height: 4rem;
  outline: none;
  text-align: center;
  transition-duration: 250ms;
  transition-property: color, border, box-shadow, transform;
  width: 4rem;
}
.pin-field:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}
.pin-field:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: 1px solid #d3d3d3;
}
.pin-field:focus {
  border-color: #686de0;
  box-shadow: 0 0 0.25rem rgba(104, 109, 224, 0.5);
  outline: none;
}
.pin-field:focus + .pin-field {
  border-left-color: #686de0;
}
.pin-field:invalid {
  animation: shake 5 linear 75ms;
  border-color: #dc3545;
  box-shadow: 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.pin-field:invalid + .pin-field {
  border-left-color: #dc3545;
}
.pin-field.complete {
  border-color: #6ab04c;
  color: #6ab04c;
}

.pin-field.complete + .pin-field {
  border-left-color: #6ab04c;
}
@keyframes shake {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}

.print-ticket-modal {
  width: 100%;
  max-width: 400px; /* or your desired max width */
  margin: 0 auto;
  padding: 20px;
}

.print-ticket-modal canvas {
  width: 100%; /* Make canvas take full width */
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

.flip {
  display: inline-block;
  animation: flip 0.5s linear;
}

/* 
@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
} */
/* 
.chakra-stack input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: .75rem;
  position: relative;
  width: 100%;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  } */
